@import "zero.css";

@import "header.css";

.about {
  padding: 12.5rem 0;
}
.about__container {
}
.about__title {
  font-size: 5rem;
  line-height: 7.5rem;
  text-transform: uppercase;
  margin-bottom: 5.6rem;
}
.about__inner {
  display: flex;
  gap: 3rem;
  max-height: 114.4rem;
}
.about__article {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 6rem 1fr 344px;
}
.about__article_1 {
}
.about__article-title {
  font-size: 2.5rem;
  line-height: 3rem;
  text-transform: uppercase;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  margin-bottom: 1.9rem;
}
.about__article-descr {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 2.6rem;
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  margin-bottom: 6.7rem;

}
.about__article-img-wrapper {
  grid-row: 3 / 4;
  grid-column: 1 / -1;
  display: flex;
  gap: 3rem;
  max-height: 34.4rem;
}
.about__article-img-wrapper > img {
  height:100%;
  width: 100%;
}
.about__article-img {
  
}
.about__article-img {

}
.about__article-img_big {
}

