@import 'zero.css';

html {
    font-size: 10px;
}
/* settings */
.container {
    max-width: 1200px;
    margin: 0 auto;
}
a:link,
a:visited {
    color: #fff;
}
body {
    font-family: 'Anton', sans-serif;
}


.header {
    background: url('../img/header/header_bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.header__nav {
    display: flex;
}
.nav__list {
    display: flex;
}
.nav__link {
    font-size: 1.4rem;
    line-height: 2.1rem;
    text-transform: uppercase;
}